@import '../../styles/typography.scss';

.h1_text{
    @extend .font_poppins;
    font-weight: 640;
    font-size: 50px;
    color: #2d2e32;
}
.p_text{
    @extend .font_poppins;
    color: #767676;
    font-size: 18px;
}


.heroimg{
    background-color: #2d2e32;
}

.skill_header{
    @extend .font_poppins;
    font-size: 17px;
    font-weight: 550;
    color: #2d2e32;
    margin-top: 15px;
    border-right: 3px solid rgba(45, 46, 50, .5);
}

.icon_animation:hover{
    cursor: pointer;
    transform: translateY(-8px);
    transition: all .3s ease-in-out;
}

